<div class="container">
  <h2 class="text-center">
    <img src="assets/images/hera_icon.png" alt="Proyecto Hera">
  </h2>
</div>

<div class="container">
  <h2 class="text-center">Proyecto Hera</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Multimediales</h5>
          <p class="card-text">Administra los multimediales.</p>
          <a href="/multimediales" class="btn btn-primary">Ir a Multimediales</a>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Competencias</h5>
          <p class="card-text">Administra las competencias.</p>
          <a href="/competencias" class="btn btn-primary">Ir a Competencias</a>
        </div>
      </div>
    </div>
  </div>
</div>
