<h2 class = "mb-5">Multimediales</h2>

<div class ="text-end">
    <button class ="btn btn-primary" routerLink = "/new">
        Nuevo multimedial
    </button>
</div>


<table class="table table-hover">
    
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre de Usuario</th>
            <th>Email</th>
            <th>Contraseña</th>
            <th>Dirección</th>
            <th>Fecha de Nacimiento</th>
            <th>Nivel de Educación</th>
            <th>Institución de estudios</th>
            <th>Foto de perfil</th>
            <th>Competencias</th>
            <th>Eliminar</th>
            <th>Editar</th>
        </tr>
    </thead>
    
    <tbody>
        @for(multimedial of multimediales; track multimedial.id){
            <tr>
                <td>{{multimedial.id}}</td>
                <td>{{multimedial.username}}</td>
                <td>{{multimedial.email}}</td>
                <td>{{multimedial.password}}</td>
                <td>{{multimedial.address}}</td>
                <td>{{ multimedial.birthdate | date:'dd/MM/yyyy' }}</td>
                <td>{{multimedial.educational_level_id}}</td>
                <td>{{multimedial.graduation_institution}}</td>
                <td>{{multimedial.profile_photo}}</td>
                <td>
                    <button class="btn btn-primary" [routerLink]="['/competencias']">
                        Competencias
                        </button>
                </td>
                <td>
                    <button class="btn btn-danger" (click)="eliminarMultimedial(+multimedial.id)">
                        Eliminar
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="editarMultimedial(+multimedial.id, multimedial)">
                        Editar
                    </button>
                </td>
                
            </tr>

        }

    </tbody>

</table>